.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input{
  width: 560px;
  height: 20px;
  border-radius: 5px;
  font-size: 20px;
  padding: 13px
}

button{
  font-size: 18px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  background-color: #0788af;
  border-color: #d8f3fc;
  color: white;
  cursor: pointer;
}

button:hover{
  background-color: #045d79;
  border-color: #d8f3fc;
}